<?xml version='1.0' encoding='utf-8'?>
<widget id="nl.rawneal.battletime" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Battletime</name>
    <description>
        Small app to manage battletime
    </description>
    <author email="info@rawneal.nl" href="http://rawneal.nl">
        Stijn Smulders
    </author>
    <preference name="phonegap-version" value="cli-5.2.0" />
    <preference name="permissions" value="none" />
    <preference name="webviewbounce" value="true" />
    <preference name="orientation" value="portrait" />
    <preference name="DisallowOverscroll" value="true" />
    <plugin name="cordova-plugin-camera" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <plugin name="cordova-plugin-file-transfer" />
    <plugin name="cordova-plugin-file" />
    <access origin="*" />
    <feature name="http://api.phonegap.com/1.0/camera" />
    <feature name="http://api.phonegap.com/1.0/file" />
    <icon src="icon.png" />
    <engine name="browser" spec="~4.0.0" />
</widget>
