<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.hello-world"
        version   = "1.0.0">

    <name>Battletime</name>

    <description>
        Small app to manage battletime
    </description>

    <author href="http://rawneal.nl" email="info@rawneal.nl">
        Stijn Smulders
    </author>

    <preference name="phonegap-version" value="cli-5.2.0" />
    <preference name="permissions" value="none"/>
    <preference name="webviewbounce" value="true"/>

    <gap:plugin name="com.jamiestarke.webviewdebug" spec="1.0.8" source="pgb" />
    <gap:plugin name="org.apache.cordova.core.camera" />
    
    <access origin="http://rawneal.nl" subdomains="true" />
    
</widget>
