<!DOCTYPE html>
<html>
    <head>
        
        <meta charset="utf-8" />
        
        <meta name="format-detection" content="telephone=no" />
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
      
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.14.9/select.min.css"/>
        <link rel="stylesheet" type="text/css" href="css/index.css" />

        
        <title>Battletime</title>
        
    </head>
    
    <body ng-app="battletime">
        
        <section ng-controller="mainCtrl">   
            
            <section  class="loader" ng-show="isLoading">
               <div id="floatingCirclesG">
                    <div class="f_circleG" id="frotateG_01"></div>
                    <div class="f_circleG" id="frotateG_02"></div>
                    <div class="f_circleG" id="frotateG_03"></div>
                    <div class="f_circleG" id="frotateG_04"></div>
                    <div class="f_circleG" id="frotateG_05"></div>
                    <div class="f_circleG" id="frotateG_06"></div>
                    <div class="f_circleG" id="frotateG_07"></div>
                    <div class="f_circleG" id="frotateG_08"></div>
                </div>
            </section>
            
            <section class="start" >
                
                <section class="header">
                    <img class="logo" src="img/logo.png" />
                    <input ng-model="search" ng-disabled="page != 'start'">
                    <button class="add" ng-click="toggle('add')">
                        <span  ng-class="{toCancel: page != 'start' } ">+</span>
                    </button>
                </section>
                
                <section class="page" ng-show="page == 'start'" ng-cloak>
                    <ul class="cards" ng-show="page == 'start'">
                        <li ng-repeat="entity in entities | filter: search" ng-click="select(entity)">
                            <h1>{{entity.name}} </h1>
                            <span>{{entity.descr}}</span>
                         </li>
                    </ul>
                </section>
                
                <section class="page add" ng-show="page == 'add'" ng-cloak>
                    <section class="card">
                        <label>Name</label>
                        <input ng-model="contestent.name" required/>
                        <label>Descr</label>
                        <input ng-model="contestent.descr" required/>
                        <label>Type</label>
                        <select ng-model="contestent.type" required>
                            <option value="bboy">Bboy</option>
                            <option value="duo">Duo</option>
                        </select>
                    </section>
                    <section class="avatar">
                        <section class="info">
                             <section class="partial">
                                <section class="slider">
                                    <img ng-src="{{getEntityImage()}}" alt="{{getEntityImage()}}">
                                </section>
                             </section>
                            <section class="options" >
                                <button ng-click="takePicture()"><img src="img/camera.png"></button>
                            </section>
                        </section>
                    </section>
                    <section class="options">
                        <button ng-click="addEntity()" ng-disabled="isInvalid()">Add</button>
                    </section>
                </section>
                
                <section class="page" ng-show="page == 'details'" ng-cloak>
                    <section class="card">
                        <h1>{{contestent.name}}</h1>
                        <label>Descr</label>
                        <span>{{contestent.descr}}</span>
                        <label>Type</label>
                        <span>{{contestent.type}}
                    </section>
                    
                    <section class="avatar" >
                        <section class="info">
                            <section class="partial">
                                <section class="slider" ng-class="{toggleBattle: showBattle}">
                                    <img ng-src="{{getEntityImage()}}" alt="{{getEntityImage()}}">
                                    <section class="battle card">
                                        <h1>Choose opponent</h1>
                                        <select ng-model="opponent">
                                            <option value="{{entity._id}}" ng-repeat="entity in entities | filter: contestent.type">{{entity.name}}</option>
                                        </select>
                                        <section class="options">
                                            <button ng-click="battle(opponent)" ng-disabled="!opponent">Fight</button>
                                        </section>
                                    </section>
                                </section>
                            </section>
                            <section class="options" >
                                <button ng-click="takeAndSavePicture()"><img src="img/camera.png"></button>
                                <button ng-click="showBattle =  !showBattle;"  ng-class="{danger: showBattle}"><img src="img/battle.png"></button>
                            </section>
                        </section>
                    </section>
                    
                    <section class="battles">
                        <ul class="cards">
                            <li ng-repeat="battle in contestent.battles">
                                <section ng-show="battle.a_id == contestent._id">
                                    <h1>You <span>VS</span> {{battle.b_name}}
                                    <img class="img_b" ng-src="http://www.rawneal.nl/battletime/{{battle.b_img_url}}" />
                                </section>
                                <section ng-show="battle.b_id == contestent._id">
                                    <h1>You <span>VS</span> {{battle.a_name}}
                                    <img class="img_a" ng-src="http://www.rawneal.nl/battletime/{{battle.a_img_url}}" />
                                </section>
                            </li>
                        </ul>
                    </section>
                </section>
                
            </section>
            
            <!--<section ng-show="page == 'add'" >
              
                <button class="back" ng-click="page = 'start'">Back</button>
                <h2>New contestent</h2>
                
                <label>Name</label>
                <input ng-model="contestent.name" />
                <label>Descr</label>
                <input ng-model="contestent.descr" />
                <label>Type</label>
                <select ng-model="contestent.type" >
                    <option value="bboy">Bboy</option>
                    <option value="duo">Duo</option>
                </select>
                
                <img ng-src="{{imageURI}}">
                <button ng-click="takePicture()">Take Picture</button>
                
                <button ng-click="addEntity()">Save changes</button>
                
                
            </section>
            
            <section ng-show="page == 'details'">
                
                <section class="header">
                    <h2>Battletime</h2>
                    <input ng-model="search" placeholder="name">
                </section>
                
                <button class="back" ng-click="page = 'start'">Back</button>
                <h2>Change picture</h2>
                <ui-select ng-model="entity.selected" class="select" ng-change="selectChange()">
                    <ui-select-match  placeholder="Select Bboy">
                        <span>{{$select.selected.name}}</span>
                    </ui-select-match>
                    <ui-select-choices repeat="entity in entities | filter: $select.search">
                        <span ng-bind="entity.name"></span>
                    </ui-select-choices>
                </ui-select>
                
                <section ng-show="entity.selected" ng-cloak>
                    <section class="old">
                        <img ng-src="http://www.rawneal.nl/battletime/{{entity.selected.img_url}}?timestamp={{timestamp}}" imageonload>
                    </section>
                    <section class="new">
                        <img ng-src="{{imageURI}}">
                    </section>
                    <button ng-click="takePicture()">Take Picture</button>
                    <button ng-click="saveBboy()" ng-disabled="!imageURI">Save</button>
                </section>
            </section>
        </section>-->
        
        <script type="text/javascript" src="js/jquery-1.12.1.min.js"></script>
        <script type="text/javascript" src="js/angular.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.14.9/select.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap-tpls.min.js"></script>

        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
        
    </body>
</html>
