<!DOCTYPE html>
<html>
    <head>
        
        <meta charset="utf-8" />
        
        <meta name="format-detection" content="telephone=no" />
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
      
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.14.9/select.min.css"/>
        <link rel="stylesheet" type="text/css" href="css/base.css" />
        <link rel="stylesheet" type="text/css" href="css/index.css" />

        
        <title>Battletime</title>
        
    </head>
    
    <body ng-app="battletime">
        
        <section ng-controller="mainCtrl">   
            
            <section  class="loader" ng-show="isLoading">
               <div id="floatingCirclesG">
                    <div class="f_circleG" id="frotateG_01"></div>
                    <div class="f_circleG" id="frotateG_02"></div>
                    <div class="f_circleG" id="frotateG_03"></div>
                    <div class="f_circleG" id="frotateG_04"></div>
                    <div class="f_circleG" id="frotateG_05"></div>
                    <div class="f_circleG" id="frotateG_06"></div>
                    <div class="f_circleG" id="frotateG_07"></div>
                    <div class="f_circleG" id="frotateG_08"></div>
                </div>
            </section>
            
            <section >
                
                <section class="header">
                    <img class="logo" src="img/logo.png" />
                    <input ng-model="search" ng-disabled="page != 'start'">
                    <button class="add" ng-click="toggle('add')">
                        <span  ng-class="{toCancel: page != 'start' } ">+</span>
                    </button>
                </section>
                
                <section class="page start" ng-show="page == 'start'" ng-cloak>
                    
                    <div id="ptr">
                        <!-- Pull down arrow indicator -->
                        <span class="genericon genericon-next"></span>

                        <!-- CSS-based loading indicator -->
                        <div class="loading">
                            <span id="l1"></span>
                            <span id="l2"></span>
                            <span id="l3"></span>
                        </div>
                    </div>

                    <div id="content">
                        <ul class="cards" ng-show="tab == 'a'">
                            <li ng-repeat="entity in entities | filter: search" ng-click="select(entity)">
                                <h1>{{entity.name}} </h1>
                                <span>{{entity.descr}}</span>
                            </li>
                        </ul>
                
                        <ul class="cards" ng-show="tab == 'b'" >
                            <li class="battle" 
                                ng-class="{selected: selectedBattle._id == battle._id, started: battle.timestamp}" 
                                ng-repeat="battle in battles | filter: search" 
                                ng-click="selectBattle($index, battle)" >
                                    {{battle.a_name}}</h1> <span>VS</span>  {{battle.b_name}} </br>
                                    <span class="timestamp" ng-show="battle.timestamp">{{battle.timestamp}}</span>
                            </li>
                        </ul>
                     </div>
                    
                    <section class="tabs" >
                        <button ng-click="tab = 'a'" ng-class="{active : tab == 'a'}">Challengers</button>
                        <button ng-click="tab = 'b'" ng-class="{active : tab == 'b'}">Battles</button>
                    </section>
                    
                    <section class="options" ng-class="{show: selectedBattle != null}">
                        <button ng-click="startBattle()">Start</button>
                        <button ng-click="deleteBattle()" class="danger" >Delete</button>
                        <button ng-click="selectedBattle = null">Cancel</button>
                    </section>


                </section>
                
                <section class="page add" ng-show="page == 'add'" ng-cloak>
                    <section class="card">
                        <label>Name</label>
                        <input ng-model="contestent.name" required/>
                        <label>Descr</label>
                        <input ng-model="contestent.descr" required/>
                        <label>Type</label>
                        <select ng-model="contestent.type" required>
                            <option value="bboy">Bboy</option>
                            <option value="duo">Duo</option>
                        </select>
                    </section>
                    <section class="avatar">
                        <section class="info">
                             <section class="partial">
                                <section class="slider">
                                    <img ng-src="{{getEntityImage()}}" alt="{{getEntityImage()}}">
                                </section>
                             </section>
                            <section class="options" >
                                <button ng-click="takePicture()"><img src="img/camera.png"></button>
                            </section>
                        </section>
                    </section>
                    <section class="options">
                        <button ng-click="addEntity()" ng-disabled="isInvalid()">Add</button>
                    </section>
                </section>
                
                <section class="page" ng-show="page == 'details'" ng-cloak>
                    <section class="card">
                        <h1>{{contestent.name}}</h1>
                        <label>Descr</label>
                        <span>{{contestent.descr}}</span>
                        <label>Type</label>
                        <span>{{contestent.type}}
                    </section>
                    
                    <section class="avatar" >
                        <section class="info">
                            <section class="partial">
                                <section class="slider" ng-class="{toggleBattle: showBattle}">
                                    <img ng-src="{{getEntityImage()}}" alt="{{getEntityImage()}}">
                                    <section class="battle card">
                                        <h1>Choose opponent</h1>
                                        <select ng-model="opponent">
                                            <option value="{{entity._id}}" ng-repeat="entity in entities | filter: contestent.type">{{entity.name}}</option>
                                        </select>
                                        <section class="options">
                                            <button ng-click="battle(opponent)" ng-disabled="!opponent">Fight</button>
                                        </section>
                                    </section>
                                </section>
                            </section>
                            <section class="options" >
                                <button ng-click="takeAndSavePicture()"><img src="img/camera.png"></button>
                                <button ng-click="showBattle =  !showBattle;"  ng-class="{danger: showBattle}"><img src="img/battle.png"></button>
                            </section>
                        </section>
                    </section>
                    
                    <section class="battles">
                        <ul class="cards">
                            <li ng-repeat="battle in contestent.battles">
                                <section ng-show="battle.a_id == contestent._id">
                                    <h1>You <span>VS</span> {{battle.b_name}}
                                    <img class="img_b" ng-src="http://www.rawneal.nl/battletime/{{battle.b_img_url}}" />
                                </section>
                                <section ng-show="battle.b_id == contestent._id">
                                    <h1>You <span>VS</span> {{battle.a_name}}
                                    <img class="img_a" ng-src="http://www.rawneal.nl/battletime/{{battle.a_img_url}}" />
                                </section>
                            </li>
                        </ul>
                    </section>
                </section>
                
            </section>
            
        <script type="text/javascript" src="js/jquery-1.12.1.min.js"></script>
        <script type="text/javascript" src="js/angular.min.js"></script>
        <script src="js/hammer.2.0.4.js"></script>
        <script src="js/wptr.1.1.js"></script>
        </script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.14.9/select.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap-tpls.min.js"></script>

        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
        
    </body>
</html>
