html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    overflow-x: hidden;
    background-color:#444;
}
    
    

button{
    background-color:#f9f9f9;
    padding:5px;
    border:0px;
    font-size:30px;
    box-shadow: 1px 1px 10px black;
}

    button:disabled{
        background-color:#eee;
    }

    button.danger{
            background-color:#c0392b;
            color:white;
    }


h2{
    font-size:22px;
    padding:6px;
    color:white;
}


.loader{
    display: block;
    position: absolute;
    top:0px;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0, 0.3);
    z-index: 999;
}

.loader #floatingCirclesG{
    left:50%;
    position:absolute !important;
    top:50% !important;
    margin-top:-60px !important;
    margin-left:-60px !important;
}

.container{
    width:100%;
}

 
ul.cards{
    list-style-type: none;
    padding:5px;
}

    ul.cards li {
        background-color:white;
        color:black;
        padding:5px;
        margin-bottom:5px;
        position: relative;
        height:50px;
    }
    ul.cards h1{
        width:100%;
        margin:0px;
        font-size:20px;
    }
    ul.cards span{
        font-size:12px;
        color:#bbb;
    }
        .battles li {
            padding-right:50px;
        }
        .battles li span{
            color:#c0392b;
            font-size:20px;
        }
        .battles li img{
            position: absolute;
            height:100%;
            top:0px;
            right:0px;
        }

.avatar{
    width:200%;
    position: relative;
    clear:both;
}

    .avatar .info{
        
        position: relative;
        width:50%;
        display:inline-block;
        padding:5px;
        padding-bottom:0;
    }

        .avatar .info > .options{
            position: relative;
            display:block;
            float:right;
            width:30%;
            padding:0px;
            margin:0px;
            padding-left:5px;
        }

        .avatar .info .options button{
            text-align: center;
            padding:0px;
            width:100%;
            display:inline-block;
            margin:0px;
            margin-bottom:5px;
        }

        .avatar .info .options button > img{
            width:50px;
            margin-left:auto;
            margin-right:auto;
            margin-top:auto;
            margin-bottom: auto;

        }
        
            .avatar .info .partial{
                position: relative;
                overflow: hidden;
                width:70%;
                display:inline-block;
                background-color:white;
                color:black;
                box-shadow: 1px 1px 10px black;
            }
            
                .avatar .info .partial .slider{
                    width:200%;
                    height:100%;
                    position: relative;
                    -webkit-transition: all 0.3s;
                    -moz-transition: all 0.3s;
                    transition: all 0.3s;
                }
                
                    .slider.toggleBattle{
                        -ms-transform: translate(-50%); /* IE 9 */
                        -webkit-transform: translate(-50%); /* Safari */
                        transform: translate(-50%);
                    }

                
                    .slider img{
                        width:50%;
                    }

                    .slider .battle{
                        float:right;
                        width:50%;
                        height:100%;
                        padding:5px;
                        position: relative;
                    }
                                        
                        .slider .battle h1{
                            width:100%;
                            padding-bottom:5px;
                            font-size:20px;
                            border-bottom: 1px solid darkgray;
                        }
                        
                        .slider .battle .options{
                            margin-top:15px;
                        }
                        
                    

.card{
    background-color:white;
    color:black;
    padding:5px;
}

    .card h1{
        font-size:22px;
        margin-top:0px;
        margin-bottom:5px;
    }
    
    .card label{ 
        color:#bbb;
        width:100%;
        font-size:11px;
     }
     
     .card select{
         width:100%;
         height:40px;
         font-size:22px;
         background-color:transparent;
         border:0px;
         border-bottom:1px solid rgba(0,0,0, 0.2);
         padding:0px;
         
     }
     
     .card select:focus{
        outline: none;
        border-bottom:2px solid #c0392b;
     }

    .card input{
        width:100%;
        font-size:22px;
        text-decoration: none;
        background-color:transparent;
        border:0px;
        border-bottom:1px solid rgba(0,0,0, 0.2);
    }
    
    .card input:focus{
        outline: none;
        border-bottom:2px solid #c0392b;
    }
    
    
.header{
    padding:5px;
    background-color: #c0392b ;
    position: relative;
}
    .header h1{
        padding:0px;
        margin:0px;
        font-size:20px;
        color:white;
        margin-bottom:30px;
    }
    
    .header .logo{
        width:20%;
        margin-right:40%;
        margin-left:40%
    }


    

    .header input{
        color:white;
        width:70%;
        font-size:30px;
        text-decoration: none;
        background-color:transparent;
        border:0px;
        border-bottom:1px solid rgba(0,0,0, 0.2);
    }
    
    .header input:focus{
        outline: none;
        border-bottom:1px solid white;
    }
    
    .header button.add{
        z-index: 99;
        border-radius: 50%;
        width:50px;
        height:50px;
        position: absolute;
        bottom:-25px;
        right:30px;
        box-shadow: 1px 1px 8px black;
    }
    
    .header button.add:focus{
        outline: none;
    }
    
    .header button.add span{
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        display:block;
    }
    
    .header button.add span.toCancel{
        color:#c0392b;
        -webkit-transform: rotateZ(45deg); /* Safari */
        transform: rotateZ(45deg); /* Standard syntax */
    }
.page{
    position: relative;
    min-height: 100%;
}   
    
.page.add{
     padding-bottom:50px;
}
    
.page > .options{
    position: fixed;
    bottom:0px;
    width:100%;
    font-size:20px;
}

    .options button{
        width:100%;
        margin-top:5px;
    }
    
    .options button:disabled{
        color:#aaa;
    }
    
li.battle{
    text-align: center;
    position: relative;
    font-size:20px;
    border-left:5px solid #c0392b;;
    border-right:5px solid transparent;
    -webkit-transition: border-left 0.3 ease;
    -moz-transition: border-left 0.3s ease;
    transition: border-left 0.3s ease;
}

    li.battle.started{
         border-left:5px solid darkgreen;
    }
    
    li.battle.selected {
        border-left:20px solid cornflowerblue;
    }

    li.battle span.timestamp{
        color: #aaa;
        position:absolute;
        bottom:0px;
        font-size:15px;
        width:100%;
        text-align: center;
        display:block;
    }

    li.battle span{
        color:#c0392b;
    }
    
    .start{
        padding-bottom: 40px;
    }
    
    .dialog{
        width:100%; height:100%;
        top:0px; left:0px;
        position: fixed;
        background-color: rgba(0,0,0, 0.2);
    }
    
    .start .options{
        position: fixed;
        width:100%;     
        left:0px; bottom:0px;
        background-color: white;
        box-shadow: 1px 1px 10px black;
        z-index: 999;
        padding:15px;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        -ms-transform: translate(0, 120%); /* IE 9 */
        -webkit-transform: translate(0, 120%); /* Safari */
        transform: translate(0, 120%); 

    }
    
    .start .options.show{
        -ms-transform: translate(0,0); /* IE 9 */
        -webkit-transform: translate(0,0); /* Safari */
        transform: translate(0,0);
    }
    
    .start .options button{

        font-size:14px;
        padding:15px;
        width:30%;
        margin-left:10%;
        margin-right:10%;
        box-shadow: none;
        border:1px solid gray;
        float:left;
    }

.tabs{
    position: fixed;
    bottom:0px;
    width:100%;
}
    
    .tabs button{
        width:50%;
        float:left;
        box-shadow: none;
        font-size:25px;
        box-sizing: border-box;
        outline: none;
    }
    
     .tabs button:first-child{
        border-right:1px solid gray;
        
     }
    
    .tabs button.active{
        color:#c0392b;
    }
    
  

/** pure css loader **/
#floatingCirclesG{
	position:fixed;
    top:30%;
    z-index: 999;      
	width:125px;
	height:125px;
	margin:auto;
	transform:scale(0.6);
		-o-transform:scale(0.6);
		-ms-transform:scale(0.6);
		-webkit-transform:scale(0.6);
		-moz-transform:scale(0.6);
}

.f_circleG{
	position:absolute;
	background-color:rgb(255,255,255);
	height:22px;
	width:22px;
	border-radius:12px;
		-o-border-radius:12px;
		-ms-border-radius:12px;
		-webkit-border-radius:12px;
		-moz-border-radius:12px;
	animation-name:f_fadeG;
		-o-animation-name:f_fadeG;
		-ms-animation-name:f_fadeG;
		-webkit-animation-name:f_fadeG;
		-moz-animation-name:f_fadeG;
	animation-duration:1.2s;
		-o-animation-duration:1.2s;
		-ms-animation-duration:1.2s;
		-webkit-animation-duration:1.2s;
		-moz-animation-duration:1.2s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
}

#frotateG_01{
	left:0;
	top:51px;
	animation-delay:0.45s;
		-o-animation-delay:0.45s;
		-ms-animation-delay:0.45s;
		-webkit-animation-delay:0.45s;
		-moz-animation-delay:0.45s;
}

#frotateG_02{
	left:15px;
	top:15px;
	animation-delay:0.6s;
		-o-animation-delay:0.6s;
		-ms-animation-delay:0.6s;
		-webkit-animation-delay:0.6s;
		-moz-animation-delay:0.6s;
}

#frotateG_03{
	left:51px;
	top:0;
	animation-delay:0.75s;
		-o-animation-delay:0.75s;
		-ms-animation-delay:0.75s;
		-webkit-animation-delay:0.75s;
		-moz-animation-delay:0.75s;
}

#frotateG_04{
	right:15px;
	top:15px;
	animation-delay:0.9s;
		-o-animation-delay:0.9s;
		-ms-animation-delay:0.9s;
		-webkit-animation-delay:0.9s;
		-moz-animation-delay:0.9s;
}

#frotateG_05{
	right:0;
	top:51px;
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
}

#frotateG_06{
	right:15px;
	bottom:15px;
	animation-delay:1.2s;
		-o-animation-delay:1.2s;
		-ms-animation-delay:1.2s;
		-webkit-animation-delay:1.2s;
		-moz-animation-delay:1.2s;
}

#frotateG_07{
	left:51px;
	bottom:0;
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
}

#frotateG_08{
	left:15px;
	bottom:15px;
	animation-delay:1.5s;
		-o-animation-delay:1.5s;
		-ms-animation-delay:1.5s;
		-webkit-animation-delay:1.5s;
		-moz-animation-delay:1.5s;
}



@keyframes f_fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes f_fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes f_fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes f_fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes f_fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}